ANN_README~
ANN.layout
ANN.mk
Makefile
ANN.cbp
main.cpp
preds1.txt
.cproject
.project
ANN_batch.zip
Backup/
Batch_Err
Batch_ValErr
Batch_weights.txt
DnnTrain_v1
Err
JustTest
JustTest_v4.cpp
JustTrain_v4
JustTrain_v4.cpp
Notes.txt
Notes.txt~
SGD/
TestModule
TestModule.cpp
ValErr
a.out
bias.txt
dnn_readme~
errors.txt
little_train.frm
little_train.lpcc
nn_params
nn_v5.cpp
one_train.frm
one_train.lpcc
online_Err.txt
online_JustTrain_v4
online_JustTrain_v4.cpp
online_ValErr.txt
online_nn_v5.cpp
online_weights.txt
output.txt
output.txt.tmp_6c90d9bf3f0a
shuffle_test
tempwt.txt
testfile
testmat.sav
train.frm
train.lpcc
weights.txt
DnnTest
input_data
iris.input
iris.input~
iris.output
iris.output~
output_data
preds.txt
